h1, h2, h3, h5, p, ul.li {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif; 
    font-weight: 400;
    color: #ffffff;
}

h2.logo_nav {
  font-size: 24px;
  font-family: "Droid Sans";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 4px 6.928px 0px rgba(19, 105, 47, 0.75);

}


body {       
    background-image: url('../images/tool-bg.png');        
    background-size: 100%;
    background-position: top center;
    background-repeat:repeat-y;
}

#main-headline {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif; font-weight: 400;
    text-align: center;
}

.main-text {
    font-family: 'Open Sans Light', Helvetica, Arial, sans-serif; 
    text-align: center;
    color: #ffffff;
}

div.space {
  min-height: 100px;
}

div#header-email {
  margin-right: auto;
  margin-left: auto;
}

div#header-email h3 {
    font-size: 24px;
    font-weight: 900;
    color:#fff;

}
div#header-email h4 {
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    margin-bottom: 20px;
}
div#header-email form {
    margin:20px 0 0 0;
}

div#header-email form input {
    display: inline;
    width:180px;
    border-radius: 4px;
    border:none;
    padding: 12px;
}
div#header-email form button {
    background: #e74c3c!important;
    color:#fff;
    text-shadow:none;
    border:none;
    border-radius: 10px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    padding:8px 15px 11px;
    margin-left: 10px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img.image-cloud {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

h3.title {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif; 
    font-weight: 700; 
    text-align: center;
    padding-top: 30px;

}

h3.subtitle {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif; 
    font-weight: 700; 
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
}

h5.sub-subtitle {
  text-align: center;
  position:relative;
  color: #ffffff;
  z-index:2;
}
h5.sub-subtitle:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px white;
    z-index:-1;
}

h4.price-title {
    color: #ffffff;
}

h5.price-per-month{
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif; 
    font-weight: 400;
}

h5.price-button{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif; 
    font-weight: 600;
    color:#333333;
}

.line-center{
    margin:0;padding:0 10px;
    background:#3498db;
    display:inline-block;
}

#price-basic-header{
  background-color: #27ae60;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #27ae60;
  margin-top: 7px;
  margin-left:15px;
}

#price-basic-features{
  background-color: #34c772;
  text-align: center;
  margin-left:15px;
}

#price-basic-table-bottom{
  background-color: #34c772;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:15px;
}

#price-pro-header{
  background-color: #e2536b;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #e2536b;
  min-width: 255px;
  margin-left:25px;
}

#price-pro-features{
  background-color: #eb6378;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 240px;
  margin-left:25px;
}

#price-pro-table-bottom{
  background-color: #e2536b;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 240px;
  margin-left:25px;
}

#price-biz-header{
  background-color: #e67e22;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #e67e22;
  min-width: 255px;
  margin-left:30px;
}

#price-biz-features{
  background-color: #f39c12;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 240px;
  margin-left:30px;
}

#price-biz-table-bottom{
  background-color: #e67e22;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 240px;
  margin-left:30px;
}


#price-table-body{
  background-color: #ffffff;
  text-align: center;
  padding: 10px 5px 10px 5px;
  margin-left:15px;
}

#price-pro-table-body{
  background-color: #ffffff;
  text-align: center;
  min-width: 250px;
  padding: 10px 5px 10px 5px;
  margin-left:25px;
}

#price-biz-table-body{
  background-color: #ffffff;
  text-align: center;
  min-width: 250px;
  padding: 10px 5px 10px 5px;
  margin-left:30px;
}

p.price-table-text{
  color: #000000;
  text-align: center;
}


#get-started{
  background-color: #ffffff;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #ffffff;
}

.price-text{
  color:#fff;
  font-weight: 700; 
  font-size: 50px;
}

.price-per-month{
  font-size: 10px;
  color:#fff;
}


div.features {
  background-color: #f3f3f3;
}

div.testimonial {
  background-color: #f3f3f3;
}

p.main-text {
  color: #000000;
  text-align: center;
}

.subtitle {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif; font-weight: 700; 
}

.feature_title{
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif; font-weight: 700; text-align: center;
}

.one-third{
  text-align: center;
}



div#header #sign-up {
  border: 3px solid;
  border-radius: 5px;
  border-color: #ffffff;
  width: 120px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

div#header nav {
  margin:10px 0 0;
}
div#header p {
  margin:10px 0 0;
}
div#header nav ul {
  list-style-type: none;
}
div#header nav ul li {
  display:inline-block;
}
div#header nav ul li a {
  color:#ffffff;
  text-decoration: none;
}

div#footer {
  background-color: #06446d;
  color:#ccead5;
}
div#footer nav {
  margin:10px 0 0;
}
div#footer p {
  margin:10px 0 0;
}
div#footer nav ul {
  list-style-type: none;
}
div#footer nav ul li {
  display:inline;
}
div#footer nav ul li a {
  color:#ccead5;
  text-decoration: none;
}

.right {
  text-align: right;
}

div#blue-container {
  background-color: #3498db; padding:60px 0;
}

div#footer-email {
  background-color: #e74c3c;
  text-align: left;
  padding:20px 0 5px;
  max-width: 100%;
}
div#footer-email h3 {
  font-size: 24px;
  font-weight: 900;
  color:#fff;

}
div#footer-email h4 {
  font-size: 14px;
  font-weight: 400;
  color:#fff;
  margin-bottom: 20px;
}
div#footer-email form {
  margin:20px 0 0 0;
}

div#footer-email form input {
  display: inline;
  width:180px;
  border-radius: 4px;
  border:none;
  padding: 12px;
}


div#footer-email form button {
  background: #e74c3c!important;
  color:#fff;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid;
  border-radius: 5px;
  border-color: #ffffff;
  width: 160px;
  margin-right: auto;
  margin-left: 10px;
}

img {
  max-width: 100%
  height: auto !important;
}


@media only screen and (max-width: 479px) {
    header h1 {
        display:block;
        text-align: center;
        margin-top:20px;
        margin-left:3px;
        margin-right:3px;
    }
    header nav {
        display:block;
    }
    header nav ul {
        float:none;
        text-align: left;
    }
    header nav ul li {
        display: block;
    }
    header nav ul li.selected {
        border-bottom: none;
        padding: 5px 0;
        background-color: #309852;
    }

   .arrow-img { 
      display: none !important;
   }


}